body {
    width: 1280px;
    margin: 0 auto;
}

/* TOP MENU GRID*/
.top-menu-left {
    grid-area: top-menu-left;
    background-color: pink;
}
.top-menu-space {
    grid-area: top-menu-space;
    background-color: white;
}
.top-menu-money {
    grid-area: top-menu-money;
    background-color: grey;
}
.top-menu-bell {
    grid-area: top-menu-bell;
    background-color: pink;
}
.top-menu-user-name {
    grid-area: top-menu-user-name;
    background-color: purple;
}
.top-menu-exit {
    grid-area: top-menu-exit;
    background-color: pink;
}


.top-menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1280px;
    z-index: 1;
    display: grid;
    grid-template-columns: 188px auto 188px 60px 174px 60px;
    grid-template-rows: 60px;
    grid-template-areas: 
        "top-menu-left top-menu-space top-menu-money top-menu-bell top-menu-user-name top-menu-exit";
}


/* MAIN GRID */
.left-menu {
    grid-area: left-menu;
    background-color: $nav-bg-color;
    margin-top: -16px;
}
.top-content {
    grid-area: top-content;
    background-color: #f5f5f2;
    padding: 16px;
}
.bottom-content {
    grid-area: bottom-content;
    background-color: #f5f5f2;
    padding: 16px;
}

.container {
    top: 60px;
    position: relative;
    display: grid;
    grid-template-columns: 188px 204px 342px 342px 204px;
    grid-template-rows: 832px 832px;
    grid-template-areas: 
        "left-menu top-content top-content top-content top-content"
        "left-menu bottom-content bottom-content bottom-content bottom-content"; 
}
/* MAIN GRID PROPERTIES */
/* TOP */
div.top-content-title {
    width: 100%;
    background-color: white;
    height: 50px;
}
div.top-content-calendar {
    width: 100%;
    background-color: grey;
    height: 110px;
}
div.top-content-data {
    width: 100%;
    background-color: pink;
    height: 640px;
}

/* BOTTOM */
div.bottom-content-title {
    width: 100%;
    background-color: white;
    height: 50px;
}
div.bottom-content-button-top {
    width: 100%;
    background-color: grey;
    height: 90px;
}
div.bottom-content-links {
    width: 100%;
    background-color: pink;
    height: 570px;
}
div.bottom-content-button-bottom {
    width: 100%;
    background-color: grey;
    height: 90px;
}