//Colors
$paragraph-color: #333333;
$header-color: #979797;
$link-color: #56819F;
$hovered-link-color: #FFA200;
$button-text-color: #ffffff;
$tab-button-text-color: #979797;
$standard-button-bg-color: #777777;
$standard-button-bg-color-hover: #979797;
$warning-button-bg-color: #f58220;
$warning-button-bg-color-hover: #ffa200;
$disabled-button-bg-color: #e3e3e3;
$tab-button-bg-color: #ffffff;
$tab-button-bg-color-hover: #f5f5f2;
$table-border-color: #979797;
$table-row-bg-color-hover: #e3e3e3;
$nav-bg-color: #333333;
$nav-text-color: #777777;
$nav-text-color-hover: #ffffff;
$form-border-color: #979797;
$form-border-color-hover: #333333;
$label-checkbox-hover: #F5F5F2;
$marked-checkbox-box: #04ae00;
$notification-positive-bg-color: #96cc9b;
$notification-positive-bg-color-hover: #74b67a;
$notification-negative-bg-color: #ec7171;
$notification-negative-bg-color-hover: #de5252;
$notification-text-color: #ffffff;



//Font sizes
$page-header-font-size: 16px;
$section-header-font-size: 15px;
$paragraph-font-size: 14px;

// Fonts
$base-font: "Open Sans", Helvetica, Arial;
