//Colors
$paragraph-color: #333333;
$header-color: #979797;
$link-color: #56819F;
$hovered-link-color: #FFA200;

//Font sizes
$page-headre-font-size: 12px;
$section-header-font-size: 11px;
$paragraph-font-size: 10px;

// Fonts
$base-font: "Open Sans", Helvetica, Arial;
