@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

h1 {
    font-size: $page-header-font-size;
    font-family: $base-font;
    color: $header-color;
    text-transform: uppercase;
}

h2 {
    font-size: $section-header-font-size;
    font-family: $base-font;
    color: $header-color;
        ::first-letter {
        text-transform: uppercase;
    }
}
p {
    font-size: $paragraph-font-size;
    font-family: $base-font;
    color: $paragraph-color;
        ::first-letter {
        text-transform: uppercase;
    }
}
a {
    color: $link-color;
    text-decoration: none;
        &:hover {
        color: $hovered-link-color;
    }
}
.base-button {
    min-height: 40px;
    max-height: 80px;
    min-width: 120px;
    max-width: 240px;
    font-family: $base-font;
    color: $button-text-color;
    border-style: none;
    border-radius: 3px;
    padding: 0 20px;
    overflow: hidden;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}
.standard-button {
    @extend .base-button;
    background-color: $standard-button-bg-color;
    &:hover {
        background-color: $standard-button-bg-color-hover;
    }
}
.warning-button {
    @extend .base-button;
    background-color: $warning-button-bg-color;
    &:hover {
        background-color: $warning-button-bg-color-hover;
    }
}
.disabled-button {
    @extend .base-button;
    background-color: $disabled-button-bg-color;
}
.tab-button {
    @extend .base-button;
    color: $tab-button-text-color;
    background-color: $tab-button-bg-color;
    &:hover {
        background-color: $tab-button-bg-color-hover;
    }
    &:active {//nie działa...
        background-color: $tab-button-bg-color-hover;
    }
}
table.base-table {
        border-collapse: collapse;
        width: 100%;
        td {
            height: 56px;
            padding: 0 16px;
            border-top: 1px solid $table-border-color;
            border-bottom: 1px solid $table-border-color;
        }
        tr:hover {
                background-color: $table-row-bg-color-hover;
                cursor: pointer;
            }
        td a {
            font-size: $section-header-font-size;
            font-family: $base-font;
            }
}

nav {
    font-family: $base-font;
    ul {
	width: 188px;
	list-style: none;
	padding: 0;
	position: relative;
        li {
            height: 40px;
            background-color: $nav-bg-color;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
            &:hover a {
                color: $nav-text-color-hover;
            }
            a {
            color: $nav-text-color;
            text-decoration: none;
            line-height: 40px;
            padding-left: 48px;
            font-size: $paragraph-font-size;
            }
        }

    }
}

