@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

* {
    box-sizing: border-box;
    }

//BASE ELEMENTS
h1 {
    font-size: $page-header-font-size;
    font-family: $base-font;
    font-weight: 400;
    color: $header-color;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: $section-header-font-size;
    font-family: $base-font;
    font-weight: 400;
    color: $header-color;
    margin: 0;
        &::first-letter {
        text-transform: uppercase;
    }
}
p {
    font-size: $paragraph-font-size;
    font-family: $base-font;
    color: $paragraph-color;
    margin: 0;
        &::first-letter {
        text-transform: uppercase;
    }
}
a {
    color: $link-color;
    font-weight: 400;
    text-decoration: none;
        &:hover {
        color: $hovered-link-color;
    }
}

//BUTTONS
.base-button {
    height: 40px;
    max-height: 40px;
    min-width: 120px;
    max-width: 240px;
    font-family: $base-font;
    font-weight: 300;
    color: $button-text-color;
    border-style: none;
    border-radius: 3px;
    padding: 0 20px;
    overflow: hidden;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}
.standard-button {
    @extend .base-button;
    background-color: $standard-button-bg-color;
    &:hover {
        background-color: $standard-button-bg-color-hover;
    }
}
.warning-button {
    @extend .base-button;
    background-color: $warning-button-bg-color;
    &:hover {
        background-color: $warning-button-bg-color-hover;
    }
}
.disabled-button {
    @extend .base-button;
    background-color: $disabled-button-bg-color;
}
.tab-button {
    @extend .base-button;
    color: $tab-button-text-color;
    background-color: $tab-button-bg-color;
    div {
        float: left;
        margin-top: 3px;
        margin-right: 10px;
        height: 14px;
        width: 14px;
        border: 0px;
        border-radius: 50%;
    }
    &:hover {
        background-color: $tab-button-bg-color-hover;
    }
    &:active {//nie działa...
        background-color: $tab-button-bg-color-hover;
    }
}

.tab-button-blue {
    @extend .tab-button;
    div {
    background-color: $tab-circle-color-blue;
    }
}
.tab-button-orange {
    @extend .tab-button;
    div {
    background-color: $tab-circle-color-orange;
    }
}
.tab-button-green {
    @extend .tab-button;
    div {
    background-color: $tab-circle-color-green;
    }
}

//TABLE
table.base-table {
        border-collapse: collapse;
        width: 100%;
        max-width: 684px;
        margin: auto;
        td, th {
            height: 56px;
            padding: 0 16px;
            border-top: 1px solid $table-border-color;
            border-bottom: 1px solid $table-border-color;
            a {
                font-size: $section-header-font-size;
                font-family: $base-font;
                }
            img {
                width: 16px;
                height: auto;
                line-height: 56px;
            } 
        }
        td.table-row-title {
            width: 45%;
        }
        td.table-ico {
            width: 56px;
        }
        tr:hover {
                background-color: $table-row-bg-color-hover;
                cursor: pointer;
            }
}

table.chart-table {
    @extend table.base-table;
        position: relative;
        width: 50%;
        max-width: 300px;
        float: left;
        margin: 0 30px;        
        td {
            height: 44px;
            border-top: none;
            padding: 0; 
        }
        td.table-row-title {
            width: 80%;
        }
        td.table-row-data {
            text-align: right;
    }   
}

table.payout-table {
    @extend table.base-table;
        max-width: 1020px;
        margin: 0 auto;
        padding: 18px;        
        td, th {
            border-top: none;
            text-align: left;
            padding: 10px;
            p {
                font-size: $table-paragraph-font-size;
            }
        }
        td.table-row-date, th.table-row-date {
            width: 32%;
        }
        td.table-row-amount, th.table-row-amount {
            width: 32%;
        }
        td.table-row-deal, th.table-row-deal{
            width: 25%;
        }
        td.table-row-account, th.table-row-account {
            width: 11%;
        }
}
table.details-table {
    @extend table.base-table;
        max-width: 1020px;
        margin: 0 auto;
        padding: 18px;        
        td, th {
            border-top: none;
            text-align: left;
            padding: 10px;
            p {
                font-size: $table-paragraph-font-size;
            }
        }
        td.table-row-tracker-name, th.table-row-tracker-name {
            width: 11%;
        }
        td.table-row-initiated-date, th.table-row-initiated-date {
            width: 14%;
        }
        td.table-row-visits, th.table-row-visits{
            width: 7%;
        }
        td.table-row-unique, th.table-row-unique {
            width: 7%;
        }
        td.table-row-signups, th.table-row-signups {
            width: 8%;
        }
        td.table-row-ftd, th.table-row-ftd {
            width: 6%;
        }
        td.table-row-depositors, th.table-row-depositors {
            width: 9%;
        }
        td.table-row-deposits, th.table-row-deposits{
            width: 12%;
        }
        td.table-row-payout, th.table-row-payout {
            width: 9%;
        }
        td.table-row-turnover, th.table-row-turnover{
            width: 10%;
        }
        td.table-row-deal, th.table-row-deal {
            width: 7%;
        }
}





.top-content-data-chart-title h2 {
    margin: 0 30px;
}
.top-content-data-chart-tabs button {
    margin: 0 20px;
}

//NAVIGATION
nav {
    font-family: $base-font;
    ul {
	width: 188px;
	list-style: none;
	padding: 0;
	position: relative;
        li {
            height: 40px;
            background-color: $nav-bg-color;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
            &:hover a {
                color: $nav-text-color-hover;
            }
            &:hover div.stripe {
                margin-left: 0px;
                display: inline;
            }
            &:hover img {
                margin-left: 14px;
            }
            div.stripe {
                width: 4px;
                height: 100%;
                background-color: $nav-stripe-bg-color;
                margin-left: -4px;
                float: left;
                display: none;
            }
            img {
                margin-left: 18px;
                width: 14px;
                height: auto;
                line-height: 40px;
            }
            a {
            color: $nav-text-color;
            text-decoration: none;
            line-height: 40px;
            padding-left: 16px;
            font-size: $paragraph-font-size;
            }
        }

    }
}
div.fill {
    position: relative;
    background-color: $nav-bg-color;
    width: 100%;
    height: 100vh;
    margin-top: -16px;
}

//FORM
.form {
    font-family: $base-font;
    font-size: $paragraph-font-size;
    input, textarea{
        width: 154px;
        margin: 15px;
        padding: 10px;
        border: 1px solid $form-border-color;
        border-radius: 3px; 
        &:hover {
            color: $paragraph-color;
            cursor: pointer;
            border-color: $form-border-color-hover;
            &::placeholder {//add opacity dla mozilli
                color: $paragraph-color;
            }
        }
        
    }
}
//do poprawy pozycja tła obrazka
.form-password {
    @extend .form;
    input {
        background:  url("..\images\icons\password.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        text-indent: 20px; 
            &::placeholder {
                background:  url("..\images\icons\password.svg");
                background-repeat: no-repeat;
                background-size: 20px 20px;   
                text-align: left;
                text-indent: 20px;
            }
    }
}

.form-text-input {
    @extend .form;
    textarea{
        height: 124px;
        resize: none;//czyści pole rozszerzaniaq w narożniku
        &::placeholder {   
            text-align: left;
        }
    }
}

//CHECKBOXES
label.checkbox{//ostylowac do końca
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 46px;
    &:hover{
        background-color: $label-checkbox-hover;
    }
}

.checkbox {//ostylowac kolory
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 10px;
    cursor: pointer;
    font-size: $paragraph-font-size;
    font-family: $base-font;
    user-select: none;
    .checkmark:after {
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: $marked-checkbox-box;
            &:after {//niekoniecznie zadziała
                display: block;
            }
        }
    }
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    margin-top: 11px;
    margin-left: 12px;
    border: 1px solid $form-border-color;
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

//NOTIFICATIONS
.notification {
    height: 40px;
    line-height: 40px;
    width: 260px;
    border-style: none;
    padding: 0 15px 0 20px;
    overflow: hidden;
    cursor: pointer;
    span {
        font-family: $base-font;
        font-size: $paragraph-font-size;
        color: $notification-text-color;
    }
    img.positive{
        float: left;
        margin-top: 11px;
        height: 18px;
        padding-right: 14px;
    }
    img.close{
        float: right;
        margin-top: 13px;
        height: 14px;
        padding-right: 10px;
    }
}
.notification-positive {
    @extend .notification;
    background-color: $notification-positive-bg-color;
    &:hover {
        background-color: $notification-positive-bg-color-hover;
    }
}
.notification-negative {
    @extend .notification;
    background-color: $notification-negative-bg-color;
    &:hover {
        background-color: $notification-negative-bg-color-hover;
    }
}
