//FORM
.form {
    font-family: $base-font;
    font-size: $paragraph-font-size;
    input, textarea{
        width: 300px;
        margin: 15px;
        padding: 10px;
        border: 1px solid $form-border-color;
        border-radius: 3px; 
        &:hover {
            color: $paragraph-color;
            cursor: pointer;
            border-color: $form-border-color-hover;
            &::placeholder {//add opacity dla mozilli
                color: $paragraph-color;
            }
        }
        
    }
}
//do poprawy pozycja tła obrazka
.form-password {
    @extend .form;
    input {
        background:  url("..\images\icons\password.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        text-indent: 20px; 
            &::placeholder {
                background:  url("..\images\icons\password.svg");
                background-repeat: no-repeat;
                background-size: 20px 20px;   
                text-align: left;
                text-indent: 20px;
            }
    }
}

.form-text-input {
    @extend .form;
    textarea{
        height: 124px;
        resize: none;//czyści pole rozszerzaniaq w narożniku
        &::placeholder {   
            text-align: left;
        }
    }
}

.bottom-border {
    border-bottom: 1px solid $table-border-color;
}

.flex-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-label {
    width: 120px;
    display: inline-flex;
}


.button-submit {
    text-align: center;
    margin: 15px auto;
    button {
        width: 90px;
    }
}